<div class="w-full">
  <nav class="p-4 pt-16 pb-8 md:p-6 container mx-auto relative">
    <div class="absolute right-4 md:right-6 top-4 md:top-6 z-10">
      <a
        href="https://docs.google.com/forms/d/1DLtUsK07KEtSwlnAJSsdHW11FWZvg9BaOMS_U67WObc"
        class="px-3 py-2 md:px-4 md:py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 transition-colors inline-flex items-center gap-1"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 md:h-4 md:w-4"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
          />
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
        </svg>
        <span class="hidden md:inline">Subscribe</span>
      </a>
    </div>
    <div
      class="absolute left-1/2 -translate-x-1/2 w-full text-center pointer-events-none top-4 md:top-6"
    >
      <a
        href="/"
        class="text-3xl md:text-4xl font-bold text-gray-900 hover:text-gray-800 transition-colors inline-block pointer-events-auto"
        style="text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8)"
      >
        Blackwood<br class="md:hidden" />
        Boarding<br class="md:hidden" />
        News
      </a>
    </div>
  </nav>
</div>
